html {
  background-color: #0A1929;
  color: #fff;
}

.bg-dark {
  background-color: rgb(15, 37, 61);
  color: #fff;
}
.red {
  color: rgb(211, 48, 48);
}
.c-white{
  color: #fff;
}

.search-container {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-container{
  display: grid;
  width: fit-content;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 3rem 5rem;
}

.error-container{
  width: 100vw;
  text-align: center;  
}

@media (max-width:1180px) {
  .cards-container{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 3rem;
  }  
}

@media (max-width:750px) {
  .cards-container{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;    
  } 
  
  .search-container {
    flex-direction: column;
    width: 95%;
  }
}